.hideElement {
    display: none;
    opacity: 0;
    transition: display 0.5s, opacity 1s linear;
}

.showElement {
    display: inline-block;
    opacity: 1;
}

.text-center {
    text-align: center;
}

.ttext {
    color: #1769ff;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(-10.0deg)
    }
    20% {
        transform: rotate( 12.0deg)
    }
    30% {
        transform: rotate(-10.0deg)
    }
    40% {
        transform: rotate( 9.0deg)
    }
    50% {
        transform: rotate( 0.0deg)
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


/* Then style the iframe to fit in the container div with full height and width */

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

a.navbar-brand {
    position: relative; 
    top: -13px;
    transition: none 0s ease 0s;
    cursor: pointer;
}